
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <br /><br />
    <center style="color:red">
        <h1>Su usuario no esta autorizado para acceder a esta página</h1>
        <br />
        <img src="https://media0.giphy.com/media/8L0Pky6C83SzkzU55a/giphy.gif" />
    </center>
    <br /><br />
    <a href="/">Ir al inicio</a>
</body>
</html>